.Sidebar {
  flex-shrink: 0;
  overflow: hidden;
  width: 70px;
  border-right: 1px solid #343434;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  padding-top: 1rem;
  align-items: center;
  justify-content: stretch;
  transition: width var(--animation-duration) var(--animation-timing-curve);
  position: sticky;
  left: 0px;
  bottom: 0;
  top: 0;
  z-index: 998;
  top: var(--header-height);
  background-color: #121212;
  box-shadow: 0 0 10px 0 black;

  .hiddenSidebar {
    opacity: 0;
    width: 0;
    transition: opacity var(--animation-duration) var(--animation-timing-curve);
  }

  .topSidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .userLogo {
    display: block;
    width: 30px;
    height: 30px;
    transition: var(--animation-duration) var(--animation-timing-curve);
    .userLogoBorder {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        border-radius: 50%;
      }
    }
  }
  .userLogo .userLogoBorder > img {
    width: 100%;
    height: 100%;
  }

  .middleSidebar {
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    margin: 1rem 0;
  }

  .middleSidebar,
  .bottomSidebar {
    width: 100%;
  }

  .sidebarList {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    cursor: pointer;
    .hiddenSidebar {
      margin-left: 1.5rem;
      white-space: nowrap;
    }
  }

  .sidebarIcon {
    width: 24px;
    height: 24px;
    fill: #85888f;
    flex-shrink: 0;
  }

  .sidebarLink {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 0.5rem 0;
    color: var(--light-gray);
    text-decoration: none;
    align-items: center;
    padding-left: 22px;
  }
  #sidebarListItemSearch {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    &:hover {
      background-color: initial;
    }
    #sidebarLinkSearch {
      position: relative;
      height: 50px;
      margin-bottom: 10px;
      padding: 1rem;
      #sidebarIconSearch {
        position: absolute;
        z-index: 1;
        width: 26px;
        height: 26px;
      }
      input {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        outline: none;
        border: none;
        border-radius: 12px;
        font-size: 16px;
        background-color: rgba(38, 38, 38, 0.695);
        padding-left: 53px;
        color: white;
        &::placeholder {
          opacity: 0;
        }
      }
    }
  }

  .sidebarListItem {
    position: relative;
    width: 100%;
    fill: var(--light-gray);
  }

  .sidebarListItem.active {
    fill: var(--custom-client-color);
    background-color: var(--lightest-gray);
    .sidebarIcon {
      fill: var(--custom-client-color);
    }
    .hiddenSidebar {
      color: var(--custom-client-color);
    }
  }

  .sidebarListItem:hover {
    background-color: var(--lightest-gray);
  }

  .sidebarListItem.active::before {
    content: '';
    background-color: var(--custom-client-color);
    height: 100%;
    left: 0;
    width: 3px;
    position: absolute;
  }

  .username {
    color: var(--light-gray);
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 0.15rem;
    margin-top: 0.5rem;
  }

  .ten {
    color: var(--medium-gray);
    font-size: 0.75rem;
  }
  .topSidebar {
    height: 30px;
    transition: height var(--animation-duration) var(--animation-timing-curve);
    .hiddenSidebar {
      text-align: center;
      width: 100%;
    }
  }
}
.open {
  width: 260px;
  #sidebarListItemSearch {
    #sidebarLinkSearch {
      input {
        padding-left: 65px;
        &::placeholder {
          opacity: 1;
        }
      }
    }
  }
  .userLogo {
    width: 90px;
    height: 90px;
  }
  .sidebarLink {
    justify-content: flex-start;
  }
  .hiddenSidebar {
    width: 100%;
    height: auto;
    opacity: 1;
  }
  .topSidebar {
    height: 125px;
  }
}
