.FuzzySearch {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(15, 15, 15, 0.95);
  transform: translateY(-100%);
  transition: transform 0.2s linear, opacity 0.2s linear;
  .iconButton {
    background-color: transparent;
    border: none;
    display: grid;
    place-items: center;
    .icon {
      color: rgba(255, 255, 255, 0.6);
      transition: color 0.2s linear;
      cursor: pointer;
      font-size: 2em;
      display: grid;
      place-items: center;
      margin-right: 0.5em;
      &:hover {
        color: white;
      }
    }
  }
  .search {
    position: relative;
    width: max(50%, 345px);
    height: 70%;
    .iconButton {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      .icon {
        font-size: 1.9em;
      }
    }
    input {
      width: 100%;
      height: 100%;
      background-color: rgba(15, 15, 15, 0.95);
      border: none;
      color: white;
      border-radius: 5px;
      padding: 4px 40px 4px 15px;
      &:focus {
        outline: 1.75px solid var(--medium-gray);
      }
    }
    .searchResult {
      width: 100%;
      max-height: calc(75vh - var(--header-height));
      overflow-y: auto;
      overflow-x: hidden;
      margin-top: 0.5%;
      display: flex;
      flex-direction: column;
      background-color: #0f0f0f;
      border-radius: 4px;

      .searchItem {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: max(0.5%, 2.5px) 0;
        cursor: pointer;
        .infoType {
          color: var(--medium-gray);
          font-weight: bold;
          margin-right: 0.3vmax;
          font-size: clamp(0.5em, 0.6vmax + 5px, 0.8em);
        }

        .searchItemBgWrapper {
          width: max(20%, 80px);
          aspect-ratio: 16/9;
          position: relative;
          margin-right: 5%;
        }
        .searchItemDetail {
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: clamp(0.5em, 0.5vmax + 0.35em, 0.9em);
          .searchItemTitle {
            font-size: clamp(0.5em, 0.6vmax + 0.6em, 1.25em);
            font-weight: 500;
            margin-bottom: max(0.5%, 3px);
          }
        }
        &:hover {
          background-color: var(--lightest-gray);
        }
      }
    }
  }
  &:global(.visible) {
    transform: translateY(0);
    // opacity: 1;
  }
  #noData {
    width: 100%;
    height: 40vh;
    display: grid;
    place-items: center;
    color: white;
    font-size: 1.1em;
  }
}
