.VideoControl {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  color: white;
  transition: background-color 0.2s ease-in-out;
  .controlWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.45);

    .gridHeader,
    .gridBody,
    .gridFooter {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
    .gridHeader {
      justify-content: space-between;
      padding: 25px;
      h1 {
        span {
          color: var(--light-gray);
        }
        font-size: 1.2em;
        font-weight: 600;
      }
      .bookmarkButton {
        color: white;
      }
    }
    .gridBody {
      justify-content: space-evenly;
      .controlButton {
        color: #777;
        font-size: clamp(1.75em, 65% + 1vw + 2.5em, 5em);
        transform: scale(0.9);
        transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
        &:hover {
          transform: scale(1);
          color: white;
        }
      }
    }
    .gridFooter {
      padding: 0 1em 0.3%;
      align-items: unset;
      flex-direction: column;
      .progressBar {
        span {
          padding: 0;
          margin-bottom: max(0.5%, 2.5px);
        }
        :global(.MuiSlider-track) {
          color: var(--custom-client-color);
          height: 4px;
          border: none;
        }
        :global(.MuiSlider-rail) {
          color: var(--custom-client-color);
        }
        :global(.MuiSlider-thumb) {
          height: 20px;
          width: 20px;
          background-color: #fff;
          border: 2px solid var(--custom-client-color);
          @media (hover: none) {
            pointer-events: none;
          }
        }
        :global(.Mui-focusVisible) {
          box-shadow: 0px 0px 0px 8px rgba(136, 136, 136, 0.16);
        }
        :global(.Mui-active) {
          box-shadow: 0px 0px 0px 14px rgba(136, 136, 136, 0.16);
        }
      }
      .footerButtonWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .footerButton {
          color: #999;
          font-size: 1.6em;
          transform: scale(0.9);
          transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
          padding: 0.25em;
          &:hover {
            transform: scale(1);
            color: white;
          }
        }
        .footerButtonLeft {
          display: flex;
          flex-direction: row;
          // justify-content: space-between;
          align-items: center;

          .volumeSlider {
            width: 100px;
            color: var(--custom-client-color);
          }
          .time {
            color: #fff;
            margin-left: 16px;
            font-size: 0.8em;
          }
        }
        .footerButtonRight {
          .videoSpeed {
            color: var(--medium-gray);
          }
        }
      }
    }
  }
}
.showSetting {
  background-color: rgba(0, 0, 0, 0.4);

  .controlWrapper {
    display: none;
  }

  .setting {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.45);
    .close {
      position: absolute;
      top: 0;
      right: 0;
      color: white;
      font-size: 2em;
      padding: 0.5em;
      cursor: pointer;
      z-index: 10;
    }
    .settingBody {
      // Global
      span {
        white-space: nowrap;
        min-width: 70px;
      }
      .server {
        margin-bottom: 3%;
      }
      .server,
      .playbackRate {
        display: flex;
        align-items: center;
        gap: 4%;

        .option {
          display: flex;
          gap: 2%;
          .optionButton {
            padding: 6px 10px;
            line-height: 0.8em;
            font-size: 0.8em;
            border: 1px solid hsla(0, 0%, 100%, 0.5);
            border-radius: 4px;
            color: #ddd;
            transition: background-color 0.5s ease-in-out,
              color 0.5s ease-in-out, border-color 0.5s ease-in-out,
              text-shadow 0.5s ease-in-out;
            cursor: pointer;
            &.active {
              color: white;
              background-color: var(--custom-client-color);
              border-color: var(--custom-client-color);
              text-shadow: 0 0 7.5px black;
            }
            &:hover {
              color: white;
              background-color: var(--custom-client-color);
              border-color: var(--custom-client-color);
              text-shadow: 0 0 7.5px black;
            }
          }
        }
      }
    }
  }
}
