.VideoControl {
  .grid-header,
  .grid-body,
  .grid-footer {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .grid-header {
    justify-content: space-between;
    padding: 25px;
    h1 {
      font-size: 1.2em;
      font-weight: 600;
    }
    .bookmark-button {
      color: white;
    }
  }
  .grid-body {
    justify-content: center;
    .control-button {
      color: #777;
      font-size: 3.2em;
      transform: scale(0.9);
      transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
      &:hover {
        transform: scale(1);
        color: white;
      }
    }
  }
  .grid-footer {
    padding: 0 16px 10px;
    align-items: unset;
    flex-direction: column;
    .progress-bar {
      .MuiSlider-track {
        color: var(--custom_color_client);
        height: 5px;
        border: none;
      }
      .MuiSlider-rail {
        color: var(--custom_color_client);
      }
      .MuiSlider-thumb {
        height: 20px;
        width: 20px;
        background-color: #fff;
        border: 2px solid var(--custom_color_client);
      }
    }
    .footer-button-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .footer-button {
        color: #999;
        font-size: 1.6em;
        transform: scale(0.9);
        transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
        &:hover {
          transform: scale(1);
          color: white;
        }
      }
      .footer-button-left {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        align-items: center;

        .volume-slider {
          width: 100px;
          color: var(--custom_color_client);
        }
        .time {
          color: #fff;
          margin-left: 16px;
          font-size: 0.8em;
        }
      }
      .footer-button-right {
        .video-speed {
          color: var(--medium-gray);
        }
      }
    }
  }
}
