.Customize {
  width: 100%;
  height: calc(100% - var(--header-height));
  display: grid;
  place-items: center;
  .card {
    width: 25%;
    padding: 2em;
    background-color: #121212;
    box-shadow: 7px 7px 15px black;
    border-radius: 0.3em;
    transition: box-shadow 0.3s ease-in-out;
    text-align: center;
    .username,
    .profilePic,
    .customColor,
    .password,
    .newPassword,
    .confirmPassword {
      margin-bottom: 1em;
    }
    .heading {
      font-size: 0.9em;
      color: var(--heading-color);
      margin-bottom: 0.5em;
      text-align: left;
    }
    input {
      width: 100%;
      height: 3em;
      border-radius: 0.3em;
      border: none;
      background-color: rgba(38, 38, 38, 0.695);
      color: white;
      font-size: 0.8em;
      padding: 0.5em 0.5em 0.5em 1em;
      &:focus {
        outline: 1px solid var(--custom-client-color);
      }
    }
    button {
      padding: 0.25em 1em;
      border-radius: 5px;
      color: var(--custom-client-color);
      background-color: #121212;
      border: 2px solid;
      border-color: var(--custom-client-color);
      font-size: 1em;
      font-weight: 500;
      cursor: pointer;
      margin-top: 2%;
      transition: all 1.25s ease 0s;
      &:hover {
        color: #e9e9e9 !important;
        background: var(--custom-client-color);
        border-color: var(--custom-client-color) !important;
        transition: all 0.4s ease 0s;
      }
    }
  }
}
